/**
 * Positioning Layout Activity
 **/

body 
	{
  		background: white;
  		color: black;
  		
	}

h1
	{
		margin-left: 15%;
	}
p
	{
		font: Arial;
  		font-size: 24px;
  		line-height: 33px;
  		text-align: left;
		margin-left: 15%;
		margin-right: 15%;
	}


.fixed 
	{
		margin-left: -1%;
		margin-top: -1%;
		position: fixed;
		background: #eee;
		width: 215px;
		height: 130px;
		text-align: center;
		font: Arial;
  		font-size: 18px;
  		/*text-align: center;*/
	}

.relative
	{
		position: relative;
		margin-left: 15%;
		background: #eee;
		width: 750px;
		height: 200px;
		text-align: center;
		font: Arial;
  		font-size: 18px;
		/*text-align: center;*/
	}

.absolute
	{
		position: absolute;
		right: 10%;
		bottom: 11%;
		width: 400px;
		height: 100px;
		text-align: center;
		background: #999;
		font: Arial;
  		font-size: 18px;
  		/*text-align: center;*/
	}


